{% load humanize %}
<!-- producto/producto/display/producto.html start -->
<div class="col producto" data-categorias="{{ producto.categorias_pk|join:", " }}">
    <div class="card h-100">
        <img src="{{ MEDIA_URL }}{{ producto.fotografia }}" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">{{ producto }}</h5>
            {% if producto.precio > 0 %}
            <div class="text-center mb-2">
                Desde:<br />
                <span class="btn btn-outline-success rounded-pill">
                    MXN ${{ producto.precio|intcomma }}
                </span>
            </div>
            {% endif %}
            <div class="text-center">
                <button onclick="personalizar_producto({{ producto.pk }}, '{{ producto }}', '{{ MEDIA_URL }}{{ producto.imagen }}')" href="#" type="button" class="btn btn-warning rounded-pill p-3">
                    ¡Personalízame!
                </button>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">
            {{ producto.categorias.all|join:", " }}
            </small>
        </div>
    </div>
</div>
<!-- producto/producto/display/producto.html end -->
