<!-- producto/producto/display/producto_personalization_template.html start -->
<script type="text/x-handlebars-template" id="producto-personalizacion-{{ producto.pk }}-template">
<form id="producto-personalizacion-form" action="{% url 'enviar_personalizacion' %}" method="post" enctype="application/x-www-form-urlencoded" onsubmit="update_color_fields()">
    {% csrf_token %}
    <ul class="nav nav-tabs" id="parte-tabs" role="tablist">
        {% for parte in producto.partes.all %}
        {% if parte.has_color_palette_fields %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if forloop.first %}active{% endif %}" id="tab-parte-{{ parte.pk }}-paletas" data-bs-toggle="tab" data-bs-target="#parte-{{ parte.pk }}-paletas" type="button" role="tab" aria-controls="parte-{{ parte.pk }}-paletas" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">Paleta</button>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if forloop.first and not parte.has_color_palette_fields %}active{% endif %}" id="tab-parte-{{ parte.pk }}" data-bs-toggle="tab" data-bs-target="#parte-{{ parte.pk }}" type="button" role="tab" aria-controls="parte-{{ parte.pk }}" aria-selected="{% if forloop.first and not parte.has_color_palette_fields %}true{% else %}false{% endif %}">{{ parte }}</button>
        </li>
        {% endfor %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-parte-datos_user" data-bs-toggle="tab" data-bs-target="#parte-datos_user" type="button" role="tab" aria-controls="parte-datos_user" aria-selected="false">
                Datos
            </button>
        </li>
    </ul>
    <div class="tab-content" id="parte-tabs-content">
        {% for parte in producto.partes.all %}
        {% if parte.has_color_palette_fields %}
        <div class="tab-personalizacion tab-pane fade {% if forloop.first %}show active{% endif %}" id="parte-{{ parte.pk }}-paletas" role="tabpanel" aria-labelledby="tab-parte-{{ parte.pk }}-paletas">

            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab-parte-{{ paleta.pk }}" role="tablist" aria-orientation="vertical">
                    {% for paleta in parte.paletas_de_color.all %}
                    <button class="nav-link {% if forloop.first %}active{% endif %}" id="v-pills-parte-{{ paleta.pk }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-parte-{{ paleta.pk }}" type="button" role="tab" aria-controls="v-pills-parte-{{ paleta.pk }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        {{ paleta }}
                    </button>
                    {% endfor %}
                </div>
                <div class="tab-content" id="v-pills-tab-parte-{{ paleta.pk }}-content">
                    {% for paleta in parte.paletas_de_color.all %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="v-pills-parte-{{ paleta.pk }}" role="tabpanel" aria-labelledby="v-pills-parte-{{ paleta.pk }}-tab">
                        <div class="d-grid gap-1">
                        {% for color in paleta.opciones.all %}{% if color.activo %}
                            <input type="checkbox" class="btn-check" id="btn-check-color-{{ color.pk }}" value="{{ color.pk }}" autocomplete="off" onchange="update_paletas_user({{ parte.pk }}, {{ paleta.pk }}, '{{ color.color }}', {{ color.pk }}, this, '{{ paleta }}', '{{ color }}', '{{ color.codigo }}')" />
                            <label class="border-0 btn btn-outline-secondary text-start" for="btn-check-color-{{ color.pk }}">
                                {% if color.imagen %}
                                    <img class="d-inline-block muestra-color rounded" src="{{ MEDIA_URL }}{{ color.imagen }}" />
                                {% else %}
                                    <div class="d-inline-block muestra-color rounded" style="background-color: {{ color.color }};"></div>
                                {% endif %}
                                <span class="align-top">{{ color }}</span>
                            </label>
                        {% endif %}{% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        {% endif %}
        <div class="tab-personalizacion tab-pane fade {% if forloop.first and not parte.has_color_palette_fields %}show active{% endif %}" id="parte-{{ parte.pk }}" role="tabpanel" aria-labelledby="tab-parte-{{ parte.pk }}">

            <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab-{{ parte.pk }}" role="tablist">
                {% for gpo in parte.gruposdecampos.all %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if forloop.first %}active{% endif %}" id="pills-gpo-{{ gpo.pk }}-tab" data-bs-toggle="pill" data-bs-target="#pills-gpo-{{ gpo.pk }}" type="button" role="tab" aria-controls="pills-gpo-{{ gpo.pk }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        {{ gpo }}
                    </button>
                </li>
                {% endfor %}
            </ul>

            <div class="row">
                {% if parte.has_color_palette_fields %}
                <div class="col-6 col-sm-3">
                    <p>Colores seleccionados:</p>
                    <div class="paleta_usuario d-grid gap-1" id="paleta-parte-{{ parte.pk }}">

                    </div>
                </div>
                {% endif %}
                <div class="col">
                    <div class="tab-content" id="pills-tabContent-{{ parte.pk }}">
                        {% for gpo in parte.gruposdecampos.all %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="pills-gpo-{{ gpo.pk }}" role="tabpanel" aria-labelledby="pills-gpo-{{ gpo.pk }}-tab">
                            <div class="d-grid gap-1 col-sm-3 offset-sm-4">
                                {% for campo in gpo.campos.all %}
                                    {% include 'producto/display/campo_personalizacion_user.html' %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="d-grid gap-1 col-sm-4 offset-sm-4">
                            {% for campo in parte.campos.all %}
                                {% include 'producto/display/campo_personalizacion_user.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
        <div class="tab-personalizacion tab-pane fade" id="parte-datos_user" role="tabpanel" aria-labelledby="tab-parte-datos_user">
            <div class="row">
                <div class="col">
                    <div class="tab-content" id="pills-tabContent-datos_user">
                        <div class="d-grid col-sm-6 offset-sm-3">
                            <div class="mb-3">
                                <label for="user_nombre" class="form-label">Nombre*:</label>
                                <input type="text" class="form-control" id="user_nombre" name="user_nombre" value="{{ context.user.profile }}" required="required" maxlength="200" />
                            </div>
                            <div class="mb-3">
                                <label for="user_telefono" class="form-label">Teléfono*:</label>
                                <input type="tel" class="form-control" id="user_telefono" name="user_telefono" value="{{ context.user.profile.phone }}" required="required" maxlength="15" />
                            </div>
                            <div class="mb-3">
                                <label for="user_correo" class="form-label">Correo electrónico*:</label>
                                <input type="email" class="form-control" id="user_correo" name="user_correo" value="{{ context.user.email }}" required="required" maxlength="200" />
                            </div>
                            <div class="mb-3">
                                <label for="user_notas" class="form-label">Notas y comentarios:</label>
                                <textarea class="form-control" id="user_notas" name="user_notas" rows="3"></textarea>
                            </div>
                            <input type="hidden" id="user_pk" name="user_pk" value="{{ context.user.pk }}"/>
                            <input type="hidden" id="producto_pk" name="producto_pk" value="{{ producto.pk }}"/>
                            <input type="hidden" id="campos_color" name="campos_color" value="{{ producto.pk }}"/>
                            <input type="hidden" id="redirect_to" name="redirect_to" value="{{ context.request.get_full_path }}" />
                            <div class="text-end">
                                <button type="submit" class="btn btn-outline-secondary border-0">
                                    Guardar Diseño <i class="fa-solid fa-download"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
    <div id="producto-svg" class="col">
        <object data="{{ MEDIA_URL }}{{ producto.imagen }}"></object>
    </div>
    </div>
    <div class="row">
    <div class="col text-center" id="label-producto-personalizado"></div>
    </div>
</form>
</script>
<!-- producto/producto/display/producto_personalization_template.html start -->
